html{
  height: 100%;
}

body {
  width: 100%;
  background: rgb(69,0,125);
  background: linear-gradient(56deg, rgba(69,0,125,1) 0%, rgba(15,21,167,1) 35%, rgb(164, 0, 177) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
